.container {
    padding: 64px 16px 16px 16px;
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", cursive;
    background: linear-gradient(90deg, #ff6b00, #ed1e79);
    background-clip: text;
    font-weight: 400;
    font-size: 30px;
    -webkit-text-fill-color: transparent;

}